@import '../../index.scss';

.note {
    display: flex;
    flex-direction: column;
    width: 16.25rem;
    border-radius: 1rem;

    &__title {
        color: $white;
        font-size: 1.2rem;
        font-weight: 600;
        font-family: $openSans;
        line-height: 2rem;
        text-align: center;
        overflow-wrap: break-word;

        background: $cyan;
        border-radius: 1rem 1rem 0 0;

        padding: 1rem;
    }

    &__text {
        color: $gray;
        font-family: $openSans;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.35rem;
        text-align: center;

        min-height: 5rem;
        max-height: 5rem;
        overflow: hidden;
        background: $white;

        padding: 1rem 0.8rem 3.125rem 0.8rem;
    }

    &__btn {
        display: flex;
        align-self: flex-end;

        color: $white;
        font-size: 0.875rem;
        font-weight: 400;
        font-family: $openSans;
        line-height: 1.1875rem;
        cursor: pointer;

        background: $cyan;
        border-radius: 32px;

        padding: 0.6rem 1.7rem;

        &--delete {
            background: $red;
        }

        &-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            background: $white;
            border-radius: 0 0 1rem 1rem;

            padding: 1.5rem 0 1.5rem 0;
        }
    }
}
